extends ./includes/layout.pug

block vars
  - var path = course.title

block content
  .head
    h1 #{course.title}
    h3 #{course.code} &mdash; #{sections.length} #{sections.length > 1 ? 'Sections' : 'Section'}
  table
    thead
      tr
        th Section Code
        th Teacher
        th Period
        th Students
    tbody
      each section in sections
        tr
          td 
            a(href=`/courses/${course.slug}/${section.number}`) #{section.code}
          td #{section.teacher.first} #{section.teacher.last}
          td #{section.period}
          td #{section.size}
