extends ./includes/layout.pug

block vars
  - var path = course.title

block content
  .head
    h1 #{course.title}
    h3 #{course.code}
  table
    thead
      tr
        th Section Code
        th Teacher
        th Period
        th Students
    tbody
      each section in sections
        tr
          td 
            a(href=`/courses/${course.slug}/${section.number}`) #{section.code}
          td 
            a(href=`/teachers/${section.teacher._id}`) #{section.teacher.name.first} #{section.teacher.name.last}
          td #{section.period}
          td #{section.size}
