extends ./includes/layout.pug

block vars
  - var path = `${course.title}, ${section.period}`

block content
  .head
    h1 #{course.title}
    h3 #{section.period}
    h3 #{section.teacher.name.first} #{section.teacher.name.last}
  table
    thead
      tr
        th Student
        th Year
    tbody
      each student in section.students
        tr
          td 
            a(href=`/students/${student.username}`) #{student.name.first} #{student.name.last}
          td #{student.year}
