extends ./includes/layout.pug

block vars
  - var path = `${student.name.first} ${student.name.last}`

block content
  .head
    h1 #{path}
    h3 #{student.class}
  table
    thead
      tr
        th Course
        th Section
        th Period
        th Students
    tbody
      each section in sections
        tr
          td
            a(href=`/courses/${section.course.slug}`) #{section.course.title}
          td
            a(href=`/courses/${section.course.slug}/${section.number}`) #{section.code}
          td #{section.period}
          td #{section.students.length}
  // Fix this later, remove break
  br
  table
    thead
      tr
        th Commitment
        th Section
        th Students
    tbody
      each section in other
        tr
          td
            a(href=`/courses/${section.course.slug}`) #{section.course.title}
          td
            a(href=`/courses/${section.course.slug}/${section.number}`) #{section.code}
          td #{section.students.length}
